Louise <lobi@itu.dk> <277297596+Lobi-itu@users.noreply.github.com>
Louise <lobi@itu.dk> Lobi-itu
Louise <lobi@itu.dk> Louise Binau
Raamin <rraz@itu.dk> Raamin Raza
Sofie <lesh@itu.dk> Sofie Helt
Sofie <lesh@itu.dk> Sofie Lentz Helt
Signe <sibs@itu.dk> Signe Byskov de Laurent Schramm 
Tekla <tesv@itu.dk> Tekla Svane
